[Unit]
Description=An information bar for i3

[Service]
Type=forking
ExecStart=/usr/bin/env bash %h/.config/polybar/launch.sh
Restart=always
RestartSec=5
